<h1 style = 'color:red'><b>Assignment-1</b><h1>

Name  - Gorachanda Dash<br>
Date - May 05 2023


<p style=" color : #4233FF"><b>Q1. Create one variable containing following type of data:</b>
    <ol>
    <li>string</li>
    <li>list</li>
    <li>float</li>
    <li>tuple</li>
    </ol>
</p>

In [1]:
# string variable
my_string = "Hello, world!"

# list variable
my_list = [1, 2, 3, "apple", "banana"]

# float variable
my_float = 3.14

# tuple variable
my_tuple = (4, 5, 6, "orange", "grape")

<p style=" color : #4233FF"><b>Q2. Given are some following variables containing data:</b>
    <ol>
    <li>var1 = ‘ ‘</li>
    <li>var2 = ‘[ DS , ML , Python]’</li>
    <li>var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]</li>
    <li>var4 = 1.</li>
    </ol>
</p>What will be the data type of the above given variable.

<p style=" color : orange"><b>The answers are:</b>
    <ul>
    <li>var1 is a string data type.</li>
    <li>var2 is a string data type.</li>
    <li>var3 is a list data type.</li>
    <li>var4 is a float data type.	</li>
    </ul>

<p style=" color : #4233FF"><b>Q3. Explain the use of the following operators using an example in python:</b>
    <ol>
    <li>/</li>
    <li>%</li>
    <li>//</li>
    <li>**</li>
    </ol>
</p>

In [2]:
# (1) / - Division Operator:
a = 10
b = 3
c = a / b
print("Division Operator",c)

print('*'*70)

# (2) % - Modulus Operator:
a = 10
b = 3
c = a % b
print("Modulus Operator",c)

print('*'*70)

# (3) // - Floor Division Operator:
a = 10
b = 3
c = a // b
print('Floor Division Operator',c) 

print('*'*70)

# (4) ** - Exponentiation Operator: 
a = 2
b = 3
c = a ** b
print('Exponentiation Operator:',c)

Division Operator 3.3333333333333335
**********************************************************************
Modulus Operator 1
**********************************************************************
Floor Division Operator 3
**********************************************************************
Exponentiation Operator: 8

<p style=" color : #4233FF"><b>Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type</b>

In [4]:
# Here we are creating a list with different data types as elements.
my_list = [1, 2.0, "three", [4, 5], {"six": 6}, True, None, (7, 8), {"nine", "ten"}]

# Using a for loop to iterate through the elements in my_list and print each element along with its data type.
for element in my_list:
    print(element, type(element))
    print('*'*30)

1 <class 'int'>
******************************
2.0 <class 'float'>
******************************
three <class 'str'>
******************************
[4, 5] <class 'list'>
******************************
{'six': 6} <class 'dict'>
******************************
True <class 'bool'>
******************************
None <class 'NoneType'>
******************************
(7, 8) <class 'tuple'>
******************************
{'ten', 'nine'} <class 'set'>
******************************

<p style=" color : #4233FF"><b>Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.</b>

In [23]:
# Take user input for A and B
A = int(input("Enter the value of A: "))
a= A
B = int(input("Enter the value of B: "))
b = B
# Initialize count to 0
count = 0

# Check if A is divisible by B and count the number of times
while A % B == 0 and B!=1:
    A /= B
    count += 1

# Print the result
if B == 1:
    print("B cannot be equal to 1")

elif count > 0:
    print(f"{a} is divisible by {b} exactly {count} times")

else:
    print(f"{a} is not divisible by {b}")

120 is divisible by 2 exactly 3 times

<p style=" color : #4233FF"><b>Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not</b>

In [26]:
# Create a list of 25 integers
my_list = [2, 6, 9, 10, 12, 15, 16, 18, 21, 22, 24, 27, 28, 30, 33, 36, 38, 39, 42, 45, 46, 48, 51, 54, 57]

# Loop through the list and check if each element is divisible by 3
for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
        print('-'*30)
    else:
        print(f"{num} is not divisible by 3")
        print('-'*30)

2 is not divisible by 3
------------------------------
6 is divisible by 3
------------------------------
9 is divisible by 3
------------------------------
10 is not divisible by 3
------------------------------
12 is divisible by 3
------------------------------
15 is divisible by 3
------------------------------
16 is not divisible by 3
------------------------------
18 is divisible by 3
------------------------------
21 is divisible by 3
------------------------------
22 is not divisible by 3
------------------------------
24 is divisible by 3
------------------------------
27 is divisible by 3
------------------------------
28 is not divisible by 3
------------------------------
30 is divisible by 3
------------------------------
33 is divisible by 3
------------------------------
36 is divisible by 3
------------------------------
38 is not divisible by 3
------------------------------
39 is divisible by 3
------------------------------
42 is divisible by 3
------------------------------
45 is divisible by 3
------------------------------
46 is not divisible by 3
------------------------------
48 is divisible by 3
------------------------------
51 is divisible by 3
------------------------------
54 is divisible by 3
------------------------------
57 is divisible by 3
------------------------------

<p style=" color : #4233FF"><b>Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property</b>

<p>
    In Python, data types can be classified as either <b style="border:orange 2px solid">mutable</b> or <b style="border:green 2px solid">immutable</b>. Mutable data types are those that can be modified after they are created, while immutable data types are those that cannot be modified after they are created.
</p>
<hr>
<p>
    Immutable data types include <mark><b>int, float, bool, str, and tuple</b></mark>. Once an immutable object is created, its value cannot be changed. Any operation that appears to modify an immutable object actually creates a new object with the modified value.
</p>

Here's an example of an immutable data type in Python:

In [28]:
# Example of an immutable data type (string)
my_string = "hello"
print(my_string)    # Output: hello

# Attempt to modify the string
my_string[0] = 'H'  # This will raise a TypeError

# Print the string again (unchanged)
print(my_string)    # Output: hello

hello
hello

In the above example, my_string is an immutable string. I've attempted to modify the first character of the string using the assignment statement <b>my_string[0] = 'H'</b>, but this raises a TypeError because strings are immutable and cannot be modified in place. Instead, any operation that appears to modify the string actually creates a new string with the modified value.

<p>
    Mutable data types include <mark><b>list, set, and dictionary</b>,</mark>. These data types can be modified after they are created by adding, removing, or updating elements in the collection.
</p>
Here's an example of a mutable data type in Python:

In [29]:
# Example of a mutable data type (list)
my_list = [1, 2, 3, 4, 5]
print(my_list)    # Output: [1, 2, 3, 4, 5]

# Modify the list
my_list[0] = 10
my_list.append(6)
print(my_list)    # Output: [10, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5, 6]

In the above example, my_list is a mutable list. I've modified the first element of the list using the assignment statement my_list[0] = 10 and added a new element to the end of the list using the append method. These operations modify the original list in place, rather than creating a new list with the modified values.


<h1 style = 'color:orange'>
    <b><div>THANK YOU</div></b>
</h1>