<h1 style = 'color:red'><b>Week-8, Pandas Advance Assignment</b><h1>

Name - Gorachanda Dash <br>
Date - 24 Feb 2023
Week 8, Pandas Advance Assignment

<p style=" color : #4233FF"><b>Q1. List any five functions of the pandas library with execution.<br></b></p>

In [1]:
import pandas as pd

In [ ]:
# 1. read_csv(): This function is used to read data from a CSV file and create a DataFrame.
# Read a CSV file into a DataFrame
df = pd.read_csv('data.csv')

# 2. head(): This function is used to display the first n rows of a DataFrame.
# Display the first 5 rows of a DataFrame
df.head()

# 3. describe(): This function provides summary statistics of numerical columns in a DataFrame, such as count, mean, min, max, etc.
# Get summary statistics of numerical columns
df.describe()

# 4. groupby(): This function is used for grouping data based on one or more columns and applying aggregate functions.
# Group data by 'Category' column and calculate the average 'Price'
grouped_df = df.groupby('Category')['Price'].mean()


# 5. to_csv(): This function is used to save a DataFrame to a CSV file.

# Save the DataFrame to a CSV file
df.to_csv('output.csv', index=False)

<p style=" color : #4233FF"><b>Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.<br></b></p>

In [40]:
df1 = {
    'A':['Ajib', 'dastan', 'hai', 'yeh', 'Kaha', 'shuru', 'kaha', 'khatam', 'Yeh', 'manjile', 'hai', 'kaun', 'si', 'naa', 'Woh', 'samajh', 'sake', 'naa', 'ham'],
    'B':['Yeh', 'roshni', 'ke', 'sath', 'kyu', 'Dhuan', 'utha', 'chirag', 'se', 'Yeh', 'roshni', 'ke', 'sath', 'kyu', 'Dhuan', 'utha', 'chirag', 'se', 'Yeh'],
    'C':['Mubarke', 'tumhe', 'ke', 'Tum', 'kisi', 'ke', 'nur', 'ho', 'gaye', 'Mubarke', 'tumhe', 'ke', 'Tum', 'kisi', 'ke', 'nur', 'ho', 'gaye', 'Kisi']
}

def reindex_dataframe(df):
    # Create a new index starting from 1 and incrementing by 2
    df=df.set_index(pd.RangeIndex(start = 1, stop = len(df)*2, step = 2))

    return df

# Example DataFrame
df = pd.DataFrame(df1)

# Re-index the DataFrame
new_df = reindex_dataframe(df)

new_df

          A       B        C
1      Ajib     Yeh  Mubarke
3    dastan  roshni    tumhe
5       hai      ke       ke
7       yeh    sath      Tum
9      Kaha     kyu     kisi
11    shuru   Dhuan       ke
13     kaha    utha      nur
15   khatam  chirag       ho
17      Yeh      se     gaye
19  manjile     Yeh  Mubarke
21      hai  roshni    tumhe
23     kaun      ke       ke
25       si    sath      Tum
27      naa     kyu     kisi
29      Woh   Dhuan       ke
31   samajh    utha      nur
33     sake  chirag       ho
35      naa      se     gaye
37      ham     Yeh     Kisi

<p style=" color : #4233FF"><b>Q3. You have a Pandas DataFrame df with a column named 'Values'. <br>

Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.<br>

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function shouldcalculate and print the sum of the first three values, which is 60.</b></p>

In [41]:
import pandas as pd

def calculate_sum(df):
    values_column = df['Values']  # Access the 'Values' column
    first_three_values = values_column.iloc[:3]  # Access the first three values
    sum_of_values = first_three_values.sum()  # Calculate the sum
    print("Sum of the first three values:", sum_of_values)

# Example DataFrame
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

# Call the function
calculate_sum(df)

Sum of the first three values: 60

<p style=" color : #4233FF"><b>Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.<br></b></p>

In [49]:
import pandas as pd

def calculate_word_count(df):
    # Define a lambda function to count words in a text string
    word_count = lambda text: len(text.split())

    # Apply the lambda function to each row of the 'Text' column
    df['Word_Count'] = df['Text'].apply(word_count)

    # Print the updated DataFrame
    return df

# Example DataFrame
df = pd.DataFrame({'Text': ['Hello world', 'This is a sentence', 'Pandas is great']})

# Call the function
calculate_word_count(df)

                 Text  Word_Count
0         Hello world           2
1  This is a sentence           4
2     Pandas is great           3

<p style=" color : #4233FF"><b>Q5. How are DataFrame.size() and DataFrame.shape() different?<br></b></p>

The `DataFrame.size()` and `DataFrame.shape()` methods in pandas provide different information about the DataFrame.

1. `DataFrame.size()`: This method returns the total number of elements in the DataFrame. It calculates the size by multiplying the number of rows (`DataFrame.shape[0]`) with the number of columns (`DataFrame.shape[1]`). It provides the total count of elements in the DataFrame, including all cells, regardless of their values.

2. `DataFrame.shape()`: This method returns a tuple representing the dimensions of the DataFrame. It provides the number of rows and columns in the DataFrame as (`DataFrame.shape[0]`, `DataFrame.shape[1]`). The shape of the DataFrame represents its structure and is often used to determine its dimensions and to perform operations based on the number of rows or columns.

In summary, the main difference is that `DataFrame.size()` returns the total number of elements in the DataFrame, while `DataFrame.shape()` returns a tuple representing the dimensions (number of rows and columns) of the DataFrame.

<p style=" color : #4233FF"><b>Q6. Which function of pandas do we use to read an excel file?<br></b></p>

In [ ]:
import pandas as pd

# Read the Excel file
df = pd.read_excel('file.xlsx')

<p style=" color : #4233FF"><b>Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. 

Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. 

Your function should extract the username from each email address and store it in the new 'Username'
column.<br></b></p>

In [58]:
def extract_username(df):
    df['Username'] = df['Email'].str.split('@').str[0]
    return df

# Example usage:
df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.smith@example.com', 'mark.wilson@example.com']})
df = extract_username(df)
df

                     Email     Username
0     john.doe@example.com     john.doe
1   jane.smith@example.com   jane.smith
2  mark.wilson@example.com  mark.wilson

In [59]:
# alternate methode
def extract_username(df):
    df['username']=df['Email'].apply(lambda x: x.split('@')[0])
    return df

# Example usage:
df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.smith@example.com', 'mark.wilson@example.com']})
df = extract_username(df)
df

                     Email     username
0     john.doe@example.com     john.doe
1   jane.smith@example.com   jane.smith
2  mark.wilson@example.com  mark.wilson

<p style=" color : #4233FF"><b>Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'.<br> Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.<br>
For example, if df contains the following values:<br>
A B C<br>
3 5 1<br>
8 2 7<br>
6 9 4<br>
2 3 5<br>
9 1 2<br>

Your function should select the following rows: A B C<br>
8 2 7<br>
9 1 2<br>
The function should return a new DataFrame that contains only the selected rows.<br></b></p>

In [60]:
import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

# Example usage:
df = pd.DataFrame({'A': [3, 8, 6, 2, 9],
                   'B': [5, 2, 9, 3, 1],
                   'C': [1, 7, 4, 5, 2]})

selected_df = select_rows(df)
selected_df

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

<p style=" color : #4233FF"><b>Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.<br></b></p>

In [61]:
import numpy as np

def calculate_statistics(df):
    values = df['Values']
    mean = np.mean(values)
    median = np.median(values)
    std_dev = np.std(values)
    return mean, median, std_dev

# Example usage:
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

mean, median, std_dev = calculate_statistics(df)
print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std_dev)

Mean: 30.0
Median: 30.0
Standard Deviation: 14.142135623730951

<p style=" color : #4233FF"><b>Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.<br></b></p>

In [63]:
import pandas as pd

def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

# Example usage:
df = pd.DataFrame({
    'Date': pd.date_range(start='2022-01-01', periods=10),
    'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
})

df = calculate_moving_average(df)
print(df)

        Date  Sales  MovingAverage
0 2022-01-01     10           10.0
1 2022-01-02     20           15.0
2 2022-01-03     30           20.0
3 2022-01-04     40           25.0
4 2022-01-05     50           30.0
5 2022-01-06     60           35.0
6 2022-01-07     70           40.0
7 2022-01-08     80           50.0
8 2022-01-09     90           60.0
9 2022-01-10    100           70.0

<p style=" color : #4233FF"><b>Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame.<br> The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.<br>
For example, if df contains the following values:<br>
Date<br>
0 2023-01-01<br>
1 2023-01-02<br>
2 2023-01-03<br>
3 2023-01-04<br>
4 2023-01-05<br>
Your function should create the following DataFrame:<br>

Date Weekday<br>
0 2023-01-01 Sunday<br>
1 2023-01-02 Monday<br>
2 2023-01-03 Tuesday<br>
3 2023-01-04 Wednesday<br>
4 2023-01-05 Thursday<br>
The function should return the modified DataFrame.<br></b></p>

In [66]:
import pandas as pd

def add_weekday_column(df):
    df['Weekday'] = df['Date'].dt.strftime('%A')
    return df

# Example usage:
df = pd.DataFrame({'Date': pd.date_range(start='2023-01-01', periods=5)})

df = add_weekday_column(df)
df

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

<p style=" color : #4233FF"><b>Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.<br></b></p>

In [67]:
import pandas as pd

def select_rows_between_dates(df):
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    selected_rows = df[mask]
    return selected_rows

# Example usage:
df = pd.DataFrame({'Date': pd.date_range(start='2023-01-01', end='2023-02-28')})

selected_df = select_rows_between_dates(df)
selected_df

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

<p style=" color : #4233FF"><b>Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?<br></b></p>

In [ ]:
import pandas as pd


<h1 style = 'color:orange'>
    <b><div>THANK YOU</div></b>
</h1>