<h1 style = 'color:red'><b>Week-6, Mysql Assignment</b><h1>

Name - Gorachanda Dash <br>
Date - 16 Feb 2023
Week 6, MySql

<p style=" color : #4233FF"><b>Q1. What is a database? Differentiate between SQL and NoSQL databases.<br></b></p>

A `database` is a structured collection of data that is organized and managed to provide efficient storage, retrieval, and manipulation of data. It allows users and applications to store, access, and manage large amounts of data effectively.

SQL (Structured Query Language) and NoSQL (Not only SQL) are two different types of database management systems with distinct characteristics:

`SQL Databases:`
- SQL databases are based on a relational model, where data is organized into tables with predefined schemas.
- They use SQL as the standard query language for defining and manipulating data.
- SQL databases provide strong consistency, ACID (Atomicity, Consistency, Isolation, Durability) properties, and support for complex joins and transactions.
- They are suitable for structured and well-defined data with complex relationships.
- Examples of SQL databases include MySQL, Oracle, PostgreSQL, and SQL Server.

`NoSQL Databases:`
- NoSQL databases are non-relational databases that provide a flexible and scalable approach to data storage and retrieval.
- They use various data models like key-value pairs, documents, graphs, or column-family formats to store data.
- NoSQL databases offer high scalability, availability, and performance for handling large volumes of data and high-traffic applications.
- They are suitable for unstructured or semi-structured data, schema-less data, and distributed computing environments.
- Examples of NoSQL databases include MongoDB, Cassandra, Redis, and Neo4j.

In summary, the main difference between SQL and NoSQL databases lies in their data models, query languages, consistency models, and suitability for different types of data and application requirements. SQL databases are well-suited for structured data and complex relationships, while NoSQL databases excel in handling unstructured data, scalability, and high-performance scenarios.

<p style=" color : #4233FF"><b>Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.<br></b></p>

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that is used to define and manage the structure of a database, including creating, altering, and deleting database objects.

Here are explanations and examples of how the CREATE, DROP, ALTER, and TRUNCATE statements are used in DDL:

1. `CREATE:`
The CREATE statement is used to create new database objects such as tables, indexes, views, or procedures. It specifies the name of the object, its columns or attributes, and any constraints.

Example: Creating a new table named "Employees" with columns for ID, Name, and Salary.

```
CREATE TABLE Employees (
    ID INT,
    Name VARCHAR(50),
    Salary DECIMAL(10, 2)
);
```

2. `DROP:`
The DROP statement is used to delete existing database objects, such as tables, indexes, or views. It permanently removes the object from the database.

Example: Dropping the table "Employees" from the database.

```
DROP TABLE Employees;
```

3. `ALTER:`
The ALTER statement is used to modify the structure of an existing database object. It allows you to add, modify, or drop columns, constraints, or other properties of a table.

Example: Adding a new column named "Age" to the "Employees" table.

```
ALTER TABLE Employees
ADD Age INT;
```

4. `TRUNCATE:`
The TRUNCATE statement is used to delete all the data from a table while keeping its structure intact. It is a faster alternative to the DELETE statement when you want to remove all records from a table.

Example: Truncating the table "Employees" to remove all its records.

```
TRUNCATE TABLE Employees;
```

<p style=" color : #4233FF"><b>Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.<br></b></p>

DML stands for `Data Manipulation Language`. It is a subset of SQL (Structured Query Language) that is used to retrieve, insert, update, and delete data in a database. DML statements are used to perform operations on the data stored in database objects.

Here are explanations and examples of how the INSERT, UPDATE, and DELETE statements are used in DML:

1. `INSERT:`
The INSERT statement is used to insert new records or data into a table. It allows you to specify the table name and the values to be inserted into the corresponding columns.

Example: Inserting a new record into the "Customers" table with values for the columns "Name" and "Email".

```
INSERT INTO Customers (Name, Email)
VALUES ('Gorachand', 'gora@gmail.com');
```

2. `UPDATE:`
The UPDATE statement is used to modify or update existing records in a table. It allows you to specify the table name, the columns to be updated, and the new values.

Example: Updating the "Salary" column for the record with an ID of 1 in the "Employees" table.

```
UPDATE Employees
SET Salary = 5000
WHERE ID = 1;
```

3. `DELETE:`
The DELETE statement is used to delete existing records from a table. It allows you to specify the table name and the condition for selecting the records to be deleted.

Example: Deleting all records from the "Orders" table where the status is 'Cancelled'.

```
DELETE FROM Orders
WHERE Status = 'Cancelled';
```

<p style=" color : #4233FF"><b>Q4. What is DQL? Explain SELECT with an example.<br></b></p>

DQL stands for `Data Query Language`. It is a subset of SQL (Structured Query Language) that is used to retrieve data from a database. DQL statements are primarily focused on querying and retrieving data without modifying it.

The most commonly used DQL statement is SELECT, which is used to retrieve data from one or more tables in a database. It allows you to specify the columns to be selected, the table(s) to retrieve data from, and optional conditions to filter the results.

Example: Retrieving all records from the "Customers" table.

```
SELECT * FROM Customers;
```

This statement selects all columns (`*`) from the "Customers" table, returning all records present in the table.

Example: Retrieving specific columns from the "Employees" table with a condition.

```
SELECT Name, Salary FROM Employees WHERE Department = 'IT';
```

This statement selects only the "Name" and "Salary" columns from the "Employees" table where the "Department" is 'IT'. It retrieves only the records that match the given condition.

SELECT statements can be further enhanced with various clauses like ORDER BY, GROUP BY, JOIN, and more to customize the result set according to specific requirements.

<p style=" color : #4233FF"><b>Q5. Explain Primary Key and Foreign Key.<br></b></p>

In database management systems, a primary key and a foreign key are used to establish relationships between tables.

A primary key is a column or a set of columns in a table that uniquely identifies each row in that table. It ensures that each row has a unique identity and serves as a unique identifier for referencing and accessing individual records. The primary key constraint enforces the uniqueness and integrity of the primary key column(s) by disallowing duplicate or null values. By designating a primary key, you can ensure the uniqueness and integrity of your data, and it provides a basis for establishing relationships with other tables.

A foreign key, on the other hand, is a column or a set of columns in a table that refers to the primary key of another table. It establishes a relationship between two tables, where the foreign key column(s) in one table references the primary key column(s) in another table. This relationship allows you to associate and link data between tables. The foreign key constraint ensures that the values in the foreign key column(s) correspond to existing values in the referenced primary key column(s) or are null. It helps maintain data integrity and enforces referential integrity between related tables.

Here's an example to illustrate the concept of primary key and foreign key:

Consider two tables: "Students" and "Courses."

Table: Students
-------------------------
| StudentID | Name      |
-------------------------
|    1      | Gorachand |<br>
|    2      | Laveena   |
-------------------------

Table: Courses
----------------------------------------
| CourseID | CourseName                |
----------------------------------------
|    101   |  Data Science             |<br>
|    102   |  Full Stack Development   |
----------------------------------------

In this example, the "StudentID" column in the "Students" table can be designated as the primary key since it uniquely identifies each student. The primary key constraint ensures that each student has a unique ID.

To establish a relationship between the "Students" and "Courses" table, you can create a foreign key in the "Courses" table that references the primary key "StudentID" in the "Students" table. This foreign key represents the association between students and the courses they are enrolled in.

Table: Courses
--------------------------------------------------
| CourseID | CourseName              | StudentID |
--------------------------------------------------
|    101   |  Data Science           |     1     |<br>
|    102   |  Full Stack Development |     2     |
--------------------------------------------------

In this example, the "StudentID" column in the "Courses" table is the foreign key that references the primary key "StudentID" in the "Students" table. This relationship allows you to link specific courses with the corresponding students.

In summary, a primary key uniquely identifies each record in a table, while a foreign key establishes a relationship between tables by referencing the primary key of another table. The primary key ensures uniqueness and integrity within a table, while the foreign key facilitates associations and maintains referential integrity between related tables.

<p style=" color : #4233FF"><b>Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.<br></b></p>

In [ ]:
import mysql.connector

# Establishing the connection
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456789",
    database="pwskills"
)

# Creating a cursor object
cursor = conn.cursor()

# Executing a query
query = "SELECT * FROM students"
cursor.execute(query)

# Fetching the results
results = cursor.fetchall()

# Printing the results
for row in results:
    print(row)

# Closing the cursor and connection
cursor.close()
conn.close()

After establishing the connection, a cursor object is created using the `cursor()` method. The cursor serves as a pointer or handle to execute SQL queries and fetch the results.

The execute() method is used to execute a SQL query. In this example, a simple SELECT query is executed to fetch all the records from a table. The query is passed as a parameter to the `execute()` method.

Once the query is executed, the fetchall() method is used to retrieve all the results from the query execution. The results are stored in the results variable.

Finally, the results are printed using a loop to display each row of the result set.

After fetching the results and performing necessary operations, it is important to close the cursor and the connection using the close() method to release the resources and terminate the connection.

<p style=" color : #4233FF"><b>Q7. Give the order of execution of SQL clauses in an SQL query.<br></b></p>

1. FROM: The FROM clause specifies the table or tables from which the data is retrieved. It is typically the first clause in the query.

2. JOIN: The JOIN clause is used to combine rows from multiple tables based on a related column between them.

3. WHERE: The WHERE clause is used to filter the rows based on specified conditions.

4. GROUP BY: The GROUP BY clause is used to group the result set based on specified columns.

5. HAVING: The HAVING clause is used to filter the grouped rows based on specified conditions.

6. SELECT: The SELECT clause is used to specify the columns or expressions to retrieve from the database.

7. DISTINCT: The DISTINCT keyword is used to eliminate duplicate rows from the result set.

8. ORDER BY: The ORDER BY clause is used to sort the result set based on specified columns or expressions.


<h1 style = 'color:orange'>
    <b><div>THANK YOU</div></b>
</h1>